{% extends 'core/base.html'%}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'core/css/agendar.css' %}">
{% endblock %}

{% block js %}
<script src="{% static 'core/js/agenda.js' %}"></script>
{% endblock %}

{% block content%}
<div class="jumbotron jumbotron-fluid" id="fagendar">

    <div class="container-fluid">


        <br>
    
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <form action="" method="POST">
                    {% csrf_token %}
                    
                    <!--Cambiar despues-->
                    <div class="card text-left">
                        <div class="card-body">
                            <h4 class="card-title">Agendar servicio</h4>
    
                            <div class="form-group">
                                <label for="">Nombre</label>
                                <div class="input-group mb-3">
                                    <input type="text" required="required" class="form-control" name="txtNombre"  >
                                    <input type="text" required="required" class="form-control" name="txtApellido" >
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="">Telefono</label>
                                <input type="number" required="required" class="form-control" name="txtTelefono" placeholder="123456789">
    
                            </div>
                            <div class="form-group">
                                <label for="">Correo</label>
                                <input type="email" required="required" class="form-control" name="txtEmail" value="{{user.email}}">
    
                            </div>
                            <div class="form-group">
                                <label for="">Fecha</label>
                                <input type="date" required="required" class="form-control" min="{{ fecha }}" name="txtFecha">
    
                            </div>
                            <div class="form-group">
                                <label for="">Lista de servicios</label>
                                <select class="form-control" id="cbService" onchange="" name="cbService">
                                    <option value="">--------------------</option>

                                    {% for t in tipo %}

                                        <option value="{{t.id}}">{{t.tipo}}</option>

                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="">Servicios</label>
                                <select class="form-control" id="cbTipoService" onchange="" name="cbTipoService">
                                    <Option>--------------------</Option> 

                                 </select>
                                 
                            </div>
                            <a href=""><button type="submit" class="btn btn-primary">Agendar</button></a>
                            <a href="{% url 'home' %}" style="color: white">Volver<Button type="button"
                                    class="btn btn-danger">Volver</Button> </a>
                        </div>
                    </div>
                </form>
                
            </div>
            <div class="col-sm-3"></div>
        </div>
        <br>
    
    </div>

</div>

<script type="text/javascript">
    
 /* let serviciosyTipos = {};
    serviciosyTipos[1]=[servicioNombre]
    serviciosyTipos[2]=["ahora","con","masajes"]

function CambiarTipo(){
    let servList = document.getElementById("cbService");
    let tipoList = document.getElementById("cbTipoService");
    let selectServ = servList.options[servList.selectedIndex].value;
    while (tipoList.options.length){
        tipoList.remove(0);
    }
    let serviciosList = serviciosyTipos[selectServ];
    if(serviciosList){
        let i
        for(i = 0;i < serviciosList.length; i++){
            let ss = new Option(serviciosList[i],i);
            tipoList.options.add(ss);
        }
    }
}*/

//PROBANDO COSAS
$(function () {
    $.ajaxSetup({
        headers: { "X-CSRFToken": getCookie("csrftoken") }
    });
});

function getCookie(c_name)
{
    if (document.cookie.length > 0)
    {
        c_start = document.cookie.indexOf(c_name + "=");
        if (c_start != -1)
        {
            c_start = c_start + c_name.length + 1;
            c_end = document.cookie.indexOf(";", c_start);
            if (c_end == -1) c_end = document.cookie.length;
            return unescape(document.cookie.substring(c_start,c_end));
        }
    }
    return "";
 }

$(function () {
    console.log("inicio funcion")
    $('select[name="cbService"]').on('change', function () {
        var id = $(this).val();
        
        var select_products = $('select[name="cbTipoService"]');
        var options = '<option value="">--------------------</option>';
        
        if(id === ''){
            select_products.html(options);
            return false;
            
        }
        $.ajax({
            url: window.location.pathname,
            type: 'GET',
            data: {
                'action': 'buscar_TipoServicio',
                'id': id
            },
            dataType: 'json',
        }).done(function (data) {
            if (!data.hasOwnProperty('error')) {
                $.each(data, function (key, value) {
                    options+='<option value="'+value.id+'">'+value.name+'[Precio:$'+ value.precio+']</option>';
                });
                return false;
            }
            message_error(data.error);
            
        }).fail(function (jqXHR, textStatus, errorThrown) {
            alert(textStatus + ': ' + errorThrown);
        }).always(function (data) {
            select_products.html(options);
        });
    });
});

</script>

{% endblock %}